<form method="POST" action="/signup">

    <label>Username</label>
    <input type="texte" name="username" placeholder="enter username">
    <br>
    <label>Password</label>
    <input type="password" name="password" placeholder="enter password">
    <button type="submit"> Sign up </button>


    {{#if msg}}
    <div>
        {{msg}}
    </div>
    {{/if}}

</form>